div.copyButton {
  font-size: 15px;
  font-weight: 500;
  align-self: center;
  color: #65676b;
  margin-left: 3px;
  margin-right: 3px;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

div.copyButton:hover {
  background-color: #f2f2f2;
}

div.copyButton.clicked {
  color: #0571ed;
}
